<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal"}) do |f| %>
  <fieldset>
  <legend>Edit <%= resource_name.to_s.humanize %></legend>
  <%= devise_error_messages! %>
  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class => "input-xlarge" , :placeholder => "Joe Schmoe" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :class => "input-xlarge" , :placeholder => "me@example.com" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phone_number, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :phone_number, :class => "input-xlarge" , :placeholder => "(801) 335-3535" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :class => "input-xlarge" , :placeholder => "Top Secret Password" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, :class => "control-label"%>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => "input-xlarge" , :placeholder => "Top Secret Password Confirmed" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :current_password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :current_password, :class => "input-xlarge" , :placeholder => "Ye Olde Top Secret Password" %>
    </div>
  </div>

  <div class="form-actions"><%= f.submit "Update", :class => "btn btn-primary" %></div>
  </fieldset>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>