<%= form_for(@decision) do |f| %>
  <% if @decision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@decision.errors.count, "error") %> prohibited this decision from being saved:</h2>

      <ul>
      <% @decision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well">
    <%= f.label "The question", :class => 'control-label' %>
    <div class="controls"><%= f.text_field :title, :class => "input-xlarge" %></div>
    <%= f.label "The deadline", :class => 'control-label' %>
    <div class="controls"><%= f.datetime_select :deadline, :class => "input-xlarge", :prompt => true, :ampm => true, :order => [:month, :day, :year], :start_year => Time.now.year%></div>
    <%= f.label "Choice 1", :class => 'control-label' %>
    <div class="controls"><input name="choice1" class="input-xlarge"></div>
    <%= f.label "Choice 2", :class => 'control-label' %>
    <div class="controls"><input name="choice2" class="input-xlarge"></div>
    <%= f.label "Choice 3", :class => 'control-label' %>
    <div class="controls"><input name="choice3" class="input-xlarge"></div>
    <%= f.label "Choice 4", :class => 'control-label' %>
    <div class="controls"><input name="choice4" class="input-xlarge"></div>
    <p>*Feel free to add up to four choices, or start with no choices at all and let your friends decide.<br>
      You and everyone else will be able to add more choices on the next page</p>
  </div>
  <div class="actions">
    <%= f.submit(:class => "btn") %>
  </div>
<% end %>
