<p id="notice"><%= notice %></p>

<h2>Info</h2>
<div class="row question-info">
	<div class="span12 item">
	  <span class="description">Question:</span>
	  <span class="value"><%= @decision.title %></span>
	</div>
	
	<div class="span12 item">
	  <span class="description">Asker:</span>
	  <span class="value"><%= @decision.creator.name %></span>
	</div>
</div>

<%= render 'discussion/show'%>

<%= link_to 'Edit', edit_decision_path(@decision) %> |
<%= link_to 'Back', decisions_path %>
