<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span5 decision-title-block">
    <h2><%= @decision.creator.name %>:</h2>
    <div class="decision-title well">
    	<div class="pull-right decision-edit"><%= link_to 'Edit', edit_decision_path(@decision) if current_user.id == @decision.creator.id %></div>
    	<%= @decision.title %>
    </div>
    <!-- <div>
  	  TODO: Timer - 3 hours 23 minuts 17 seconds
    </div> -->
  </div>
  <br>
  <div class="span7">
	<%= render 'choice/show' %>
  </div>
</div>
<div class="row">
  <div class="span12 discussion-block">
	<%= render 'discussion/show_inline' %>
  </div>
</div>

<div class="row">
	<div class="span12">
	  <h2 style="padding-top:30px">Participants: <span id="participant-count"><%= @decision.participants.count %></span></h2>
	  <div id="participant-list">
	  <% @decision.participants.all.each do |p| %>
	  <div class="item">
	  	<strong><%= p.name %>:</strong> <%= p.email %>
	  </div>
	  <% end %>
	  </div>
	</div>
</div>

  <script type="text/javascript">
  	socket = io.connect('<%= event_server_url(root_url) %>');
	  socket.on('connect', function () {
	  	socket.emit('set id', {id: <%= @discussion.id %>})
	    socket.on('new comment', function (data) {
	      discussion.add_new_entry(data.entry_info)
	    });
	    socket.on('new reply', function (data) {
	   	  // console.log(data);
	   	  // console.log(Entry.reg);
	      Entry.reg[data.entry_info.entry.parent_id].add_child(data.entry_info);
	    });
	    socket.on('new choice', function (data) {
	   	  // console.log(data);
	   	  decision.addChoice(data)
	    });
	    socket.on('vote change', function (data) {
	   	  // console.log(data);
	   	  decision.voteChange(data);
	    });
	    socket.on('new participant', function (data) {
	   	  console.log(data);
	   	  decision.newParticipant(data);
	    });
	  });
  </script>